DATABASE_URL=postgresql+asyncpg://user:password@postgres:5432/webhook_db
RABBITMQ_URL=amqp://user:password@rabbitmq:5672/
POSTGRES_DB=webhook_db
POSTGRES_USER=user
POSTGRES_PASSWORD=password
RABBITMQ_DEFAULT_USER=user
RABBITMQ_DEFAULT_PASS=password
